		.spaceTD
		{
			
			padding: 5px;
			border-bottom: 1px solid lightgrey;
			border-top: 1px solid lightgrey;
		}
	
		#widthC
		{
			width: 100%;
		}
		.button1 {
			background-color: #3489D0; 
			color: black; 
			font-size: 15px;
			border: 2px solid #3489D0;
			border-radius: 15px;
			padding: 3px;
		}

		.button:hover {
			background-color: white;
			color: black;
		}
		
		.button2 {
			background-color: #3489D0; 
			color: black; 
			font-size: 15px;
			border: 2px solid #3489D0;
			border-radius: 17px;
		}

		.button:hover {
			background-color: white;
			color: black;
		}
		.lateralTBorder{
			border-left: 1px solid lightgrey;
			border-top: 1px solid lightgrey;
			border-bottom: 1px solid lightgrey;
			border-right: 1px solid lightgrey;
		}